.page {
  background-color: var(--background-color);
  font-family: var(--font-family);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.decorated-zone {
  position: relative;
  z-index: 1;
}

.rec {
  position: absolute;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: var(--font-wight-small);
  line-height: var(--line-height-large);
  text-align: center;
  top: 10px;
  right: 19px;
  display: flex;
  color: var(--rec-color);
}

.rec::after {
  content: " ";
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

.header {
  height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
  min-height: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--rectangle);
  border-right: 1px solid var(--rectangle);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-left: 1px solid var(--rectangle);
  border-bottom: 1px solid var(--rectangle);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  list-style-type: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  font-size: var(--font-size);
  font-weight: var(--font-wight-small);
  line-height: var(--line-height-small);
  text-transform: lowercase;
  background-color: transparent;
  color: var(--rectangle);
  font-family: var(--font-family);
  min-height: 26px;
  min-width: 70px;
}

.header__theme-menu-button_active {
  border-color: var(--rectangle);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--acent-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--rectangle);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--rectangle);
}

.header-title {
  align-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-large);
  line-height: var(--line-height-title);
  text-align: left;
  color: var(--header-color-basic);
}

.shadow {
  text-shadow: 4px 4px 0 var(--header-color-shadow);
}

.header-text-title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-large);
  line-height: var(--line-height-medium);
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 40px;
  row-gap: 50px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main-title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-large);
  line-height: var(--line-height-medium);
  text-align: left;
  color: var(--rectangle);
}

.main-title-word {
  font-size: var(--font-size);
  font-weight: var(--font-weight-large);
  line-height: var(--line-height-medium);
  text-align: left;
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.main-text {
  font-size: var(--font-size);
  font-weight: var(--font-wight-small);
  line-height: var(--line-height-medium);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  text-shadow: 2px 1px 0 var(--accent-color);
}

a:focus {
  outline: none;
  border: 1px solid var(--main-text-color);
}

a:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.main-title-text {
  font-size: var(--font-size);
  font-weight: var(--font-wight-small);
  line-height: var(--line-height-medium);
  text-align: left;
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.main-title-word-images {
  font-size: var(--font-size);
  font-weight: var(--font-weight-large);
  line-height: var(--line-height-medium);
  text-align: left;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  margin: 0px 0 9px 0;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  position: relative;
  margin-top: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--header-color-shadow);
  text-align: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-large);
  line-height: var(--line-height-title);
  color: var(--header-color-basic);
}

@media (width>=768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec {
    top: 21px;
    right: 29px;
  }

  .header {
    padding: 20px;
  }

  .header__theme-menu {
    padding-left: 0px;
    padding-top: 0px;
  }

  .header-title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text-title {
    max-width: 364px;
    justify-self: end;
  }

  .main-title {
    max-width: 236px;
  }

  .main {
    margin: 60px 20px 20px 20px;
    row-gap: 80px;
  }

  .block {
    display: grid;
    grid-template-areas: "main-title block-text";
    grid-template-columns: 236px 1fr;
  }

  .flex-to-grid {
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .images {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .image:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image:nth-child(2) {
    grid-row: span 2;
  }

  .image:nth-child(3) {
    grid-row: span 2;
  }

  .image:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer {
    block-size: 100vh;
    margin-top: 60px;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    align-self: flex-start;
  }

  .header__theme-menu-list {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .header {
    min-height: 768px;
  }

  .header-text-title {
    margin-top: 12px;
    max-width: 491px;
  }

  .block {
    grid-template-columns: 314.96px 1fr;
  }

  .main-title {
    min-width: 314.96px;
  }

  .flex-to-grid .blocks {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }

  .no-margin .block-text {
    margin-bottom: 0px;
  }

  .image:nth-child(2) {
    grid-row: span 2;
  }

  .image:nth-child(3) {
    grid-row: span 2;
  }
}
